<div class="card text-center">
  <div class="card-header">
    <h1>{{ title }}</h1>
  </div>
  <div class="card-body">
    <form action="">
      Número 1:
      <input type="number" name="numero1" id="" [(ngModel)]="numero1" /> <br />
      <br />
      Número 2:
      <input type="number" name="numero2" id="" [(ngModel)]="numero2" /> <br />
      <br />
      <input
        type="submit"
        value="sumar"
        id=""
        (click)="sumar()"
        class="btn btn-outline-primary"
      />
      <input
        type="submit"
        value="restar"
        id=""
        (click)="restar()"
        class="btn btn-outline-primary"
      />
    </form>
  </div>
  <div class="card-footer text-body-secondary">
    <p>Resultado: {{ resultado }}</p>
  </div>
</div>
